<html>
<head>
  <link rel="stylesheet" href="/static/css/skeleton.css" media="screen">
</head>
<body>
  <h1>add new alarm</h1>
  <form method="post">
    <p>
      <label for="name">name:</label>
      <input type="text" name="name">
    </p>
    <p>
      <label for="actions">actions:</label>
      <textarea name="actions"></textarea>
    </p>
    <p>
      <label for="wait">wait:</label>
      <input type="text" name="wait">
    </p>
    <p>
      <label for="datasources">data sources:</label>
      <textarea name="datasources"></textarea>
    </p>
    <p>
      <label for="envs">envs</label>
      <textarea name="envs"></textarea>
    </p>
    <p>
      <button>save</button>
    </p>
  </form>
</body>
</html>
