{{define "content"}}
<h1>add new alarm</h1>
<form method="post">
  <label for="name">Name</label>
  <input class="u-full-width" type="text" name="name">
  <label for="actions">Data source</label>
  <select class="u-full-width" name="datasources" multiple>
    {{range .DataSources}}
    <option value="{{.Name}}">{{.Name}}</option>
    {{end}}
  </select>
  <label for="actions">Actions</label>
  <select class="u-full-width" name="actions" multiple>
    {{range .Actions}}
    <option value="{{.Name}}">{{.Name}}</option>
    {{end}}
  </select>
  <label for="wait">Wait time</label>
  <input class="u-full-width" type="text" name="wait">
  <label for="headers">Envs</label>
  <div class="row">
    <div class="six columns">
      <label for="key">key</label>
      <input class="u-full-width" type="text" name="key">
    </div>
    <div class="six columns">
      <label for="value">value</label>
      <input class="u-full-width" type="text" name="value">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="key">key</label>
      <input class="u-full-width" type="text" name="key">
    </div>
    <div class="six columns">
      <label for="value">value</label>
      <input class="u-full-width" type="text" name="value">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="key">key</label>
      <input class="u-full-width" type="text" name="key">
    </div>
    <div class="six columns">
      <label for="value">value</label>
      <input class="u-full-width" type="text" name="value">
    </div>
  </div>
  <input class="button-primary" type="submit" value="Submit">
</form>
{{end}}
