{{define "content"}}
<h1>alarm / {{.Alarm.Name}}</h1>
<form method="post" action="/web/alarm/{{.Alarm.Name}}/edit">
  <label for="name">Name</label>
  <input class="u-full-width" type="text" name="name" value={{.Alarm.Name}} readonly>
  <label for="expression">Expression</label>
  <input class="u-full-width" type="text" name="expression" value="{{.Alarm.Expression}}">
  <input type="hidden" name="enabled" value="{{.Alarm.Enabled}}">
  <input type="hidden" name="instance" value="{{.Alarm.Instance}}">
  <label for="datasources">Data source</label>
  <select class="u-full-width" name="datasources" multiple>
    {{ $alarm := .Alarm }}
    {{range $ds := .DataSources}}
    <option value="{{$ds.Name}}"{{range $alarm.DataSources}}{{if eq . $ds.Name}} selected{{end}}{{end}}>{{$ds.Name}}</option>
    {{end}}
  </select>
  <label for="actions">Actions</label>
  <select class="u-full-width" name="actions" multiple>
    {{range $action := .Actions}}
    <option value="{{$action.Name}}"{{range $alarm.Actions}}{{if eq . $action.Name}} selected{{end}}{{end}}>{{$action.Name}}</option>
    {{end}}
  </select>
  <label for="wait">Wait time (nanoseconds)</label>
  <input class="u-full-width" type="text" name="wait" value="{{.Alarm.Wait.Nanoseconds}}">
  <label for="headers">Envs</label>
  {{range $key, $value := .Alarm.Envs}}
  <div class="row">
    <div class="six columns">
      <label for="key">key</label>
      <input class="u-full-width" type="text" name="key" value="{{$key}}">
    </div>
    <div class="six columns">
      <label for="value">value</label>
      <input class="u-full-width" type="text" name="value" value="{{$value}}">
    </div>
  </div>
  {{end}}
  <input class="button-primary" type="submit" value="Edit">
</form>
{{if .Alarm.Enabled}}
<a href="/web/alarm/{{.Alarm.Name}}/disable">disable</a>
{{else}}
<a href="/web/alarm/{{.Alarm.Name}}/enable">enable</a>
{{end}}
{{end}}
