{{define "content"}}
<div class="container">
  <h1>add new data source</h1>
  <form method="post">
    <label for="name">Name</label>
    <input class="u-full-width" type="text" name="name">
    <label for="url">Url</label>
    <input class="u-full-width" type="text" name="url">
    <label for="method">Method</label>
    <select class="u-full-width" name="method">
      <option value="GET">GET</option>
      <option value="POST">POST</option>
      <option value="PUT">PUT</option>
      <option value="DELETE">DELETE</option>
    </select>
    <label for="body">Body</label>
    <textarea class="u-full-width" name="body"></textarea>
    <label for="headers">Headers</label>
    <textarea class="u-full-width" name="headers"></textarea>
    <input class="button-primary" type="submit" value="Submit">
  </form>
</div>
{{end}}
