<html>
<head>
  <link rel="stylesheet" href="/static/css/skeleton.css" media="screen">
</head>
<body>
  <h1>add new data source</h1>
  <form method="post">
    <p>
      <label for="name">name:</label>
      <input type="text" name="name">
    </p>
    <p>
      <label for="url">url:</label>
      <input type="text" name="url">
    </p>
    <p>
      <label for="method">method:</label>
      <input type="text" name="method">
    </p>
    <p>
      <label for="body">body:</label>
      <textarea name="body"></textarea>
    </p>
    <p>
      <label for="headers">headers:</label>
      <textarea name="headers"></textarea>
    </p>
    <p>
      <label for="public">public:</label>
      <input type="checkbox" name="public">
    </p>
    <p>
      <button>save</button>
    </p>
  </form>
</body>
</html>
